@import "library";

.news-page {
  background-color: @color-light-blue;
    .strip {
      .strip;
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
    .widget {
      margin-top: 10%;
      min-height: 330px;
      padding: 20px;
      border: 1px solid @color-light-pink;
      background-color: @color-white;
      border-radius: 5px;
      font-family: @font-roboto;
      h3 {
        margin-bottom: 20px;
        font-size: 1.71429rem;
        font-weight: normal;
        color: @color-black;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      a {
        text-decoration: none;
        color: @color-gray;
        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
        }
      }
      .item {
        border-bottom: 1px solid @color-light-pink;
        font-size: 1.2rem;
        padding-bottom: 15px;
        margin-bottom: 15px;
        & .fa {
          padding-right: 20px;
        }
        &:last-child {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
      .mini-menu .sub {
        > ul {
          display: none;
        }
         > a {
          color: @color-black;
        }
        > a.active {
          color: @color-hover-grin;
          transform: scale(1.1);
        }
        .sub-item {
          border-top: 1px solid @color-light-pink;
          font-size: 1.1rem;
          padding: 5% 0;
        }
      }
      @media screen and (max-width: 767px) {
        margin: 5% auto;
        width: 50%;
      }
    }
    .news-column {
      margin-bottom: 5%;
        .new {
          margin-top: 3%;
          border: 1px solid @color-light-pink;
          background-color: @color-white;
          border-radius: 5px;
          font-family: @font-roboto;
          padding: 2%;
            img {
              margin: 20px;
              border-radius: 5px;
                @media screen and (max-width: 767px) {
                    width: 100px;
                    height: 100px;
                    margin: 10px;
                }
                @media screen and (max-width: 575px) {
                  width: 70px;
                  height: 70px;
                }
            }
            .title-new {
              padding: 10px 0;
            }
            .block-new {
              font-size: 1.14286rem;
            }
            .button-new {
              margin-bottom: 10px;
              margin-right: 10px;
            }
            .button-new a {
              padding: 20px;
              height: 32px;
              color: @color-white;
              background-color: @color-light-grin;
              box-shadow: 0 0 2px 1px @color-hover-grin;
              line-height: 0;
              border-radius: 5px;
              cursor: pointer;
                &:hover,
                &:active,
                &:focus {
                  transform: scale(1.1);
                  text-decoration: none;
                  color: #ffffff;
                }
            }
        }
    }
}